doctype html
html
    head
        meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='keywords' content='科技,NFC')
        meta(name='description' content='综合会展信息解决方案')
        meta(name='author' content='synorme')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        link(rel='shortcut icon' href='/img/favicon.ico')
        title 请勿随意扫描二维码！
        link(rel='stylesheet' type='text/css' href='http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/css/theme.css')
    body
        .gradient
            .warn-box
                img.qycode-stop(src='/img/qycode-stop.png')
                .qycode-state
                    h1 请勿随意扫描二维码！
                    p 二维码存在安全隐患，它可以窃取您的身份信息，让您的钱财受损、信息被泄露等。
