body {
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', '黑体', 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    min-height: 740px;
    background: url('/img/background.jpg') no-repeat 50% 50%;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    -ms-background-size: cover;
    background-size: cover;
}
#impress {
    pointer-events: auto;
}
.step {
    width: 900px;
    padding: 40px;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 48px;
    line-height: 1.5;
}
.step {
    transition: opacity 1s;
}
.step:not(.active) {
    opacity: 0.3;
}
.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
    transition: opacity 1s, -webkit-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}
.impress-on-bored .hint {
    opacity: 1;
    transition: opacity 1s 5s, -webkit-transform 0.5s;
    transition: opacity 1s 5s, transform 0.5s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
#overview {
    z-index: -1;
    padding: 0;
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
.slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}
.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
}
.slide q strong {
    white-space: nowrap;
}
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 10px 0;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
    z-index: 1000;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-disabled .step, .impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}
.impress-not-supported .fallback-message {
    display: block;
}
.background {
    width: 100%;
    height: 100%;
}
#title, #end {
    width: 1050px;
}
.main {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.main h1 {
    color: #eaf59f;
    text-align: center;
    font-size: 120px;
}
.main h3 {
    font-size: 40px;
    color: #bef366;
    text-align: right;
    margin-top: 10px;
}
.main h5 {
    font-size: 25px;
    margin-top: 50px;
    text-align: right;
    color: #bed2fb;
}
canvas {
    display: block;
    margin: 10px 0 50px 0;
    float: left;
    cursor: pointer;
}
#areaTable td.highlight, #intrestTable td.highlight {
    background: #e8e8e8;
}
.slide table {
    font-size: 18px;
    cursor: pointer;
}
.extra {
    display: block;
    opacity: 1;
    position: fixed;
    top: 50%;
    font-size: 60px;
    color: white;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity ease-in-out .4s;
}
.extra.left {
    left: 70px;
}
.extra.right {
    right: 90px;
}
.none {
    opacity: 0;
}
#demand .row {
    margin-bottom: 15px;
}
#achievement h1 {
    font-size: 120px;
    color: #eaf59f;
}
p {
    color: white;
}
.step p{
    width: 900px;
}
@media (min-width: 1400px) {
    .extra.left {
        left: 170px;
    }
    .extra.right {
        right: 190px;
    }
}
@media (max-width: 768px){
    .mobile.none{
        opacity: 1;
    }
    .tips{
        display: none;
    }
}